@CHARSET "UTF-8";
/**
 * MU Support System WordPress Multisite plugin
 * 
 * wp-admin styles (admin dashboard)
 *
 * @author	S H Mohanjith <moha@mohanjith.net>
 * @since	1.5.4
 */

td {
	vertical-align: top;
}

table.support_options td {
	padding: 10px;
}

td.instructions {
	color: #777;
}

td.instructions ul, td.instructions p {
	font-size: 0.9em;
}

.chat_auth_panel ul {
	margin-left: 10px;	
}
	
.chat_auth_panel li {
	margin-left: 10px;
	margin-bottom: 2px;
}

td.info {
	vertical-align: top;
	color: #777;
	padding-left: 10px;
}

p.info {
	vertical-align: top;
	color: #777;
}

.form-field input[type="checkbox"] {
	width: auto;
}

.invisible {
	display: none;
}

a.category {
	font-size: 1.2em;
}

ul.category {
	margin-left: 10px;
	font-size: 1em;
}

